body {
  margin: 0px;
  padding: 0;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(129, 127, 127); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(68, 63, 63, 0.89); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(129, 127, 127); /* creates padding around scroll thumb */
}
body {
  height: 120vh;
  width: 100%;
  background: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: 0.2s;
}
@keyframes slide_top {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }

}
#lo {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;}
  
.links li a:hover {
  color: white;
}
.header {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  align-items: center;
  height: 80px;
  color: white;
}

.header h2 {
  cursor: pointer;
}
.links li {
  display: inline-block;
}
.links li a {
  padding: 0 50px;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: white;
}
.links li a:active {
  color: #c4001b;
}
.icon li {
  display: inline-block;
}
.icon li a {
  margin: 0 25px;
  height: 29px;
  width: 29px;
  filter: invert(1);
}
@media screen and (max-width: 768px) {
  .links li a {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 425px) {
  .icon {
    position: absolute;
    bottom: 0px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 5px;
    padding:  0  0px 0 0 ;
  grid-auto-flow: dense;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: 2.5s;
}
@keyframes slide_top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.gallery-item:hover .image img {
  transform: scale(1.2);
}

.main_footer h4 {
  position: absolute;
  bottom: -545px;
  color: white;
  padding: 0 0px;
  font-family: "GFS Didot", serif;
  margin: 0 0 0 -200px;
}

/* .gallery-item .text{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:25px;
    pointer-events:none;
    z-index:4;
    transition: .3s ease-in-out;
    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);
} */

/* .gallery-item:hover .text {
  opacity: 1;
  animation: move-down 0.3s linear;
  padding: 1em;
  width: 100%;
} */

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.w-4 {
  grid-column: span 4;
}
.w-5 {
  grid-column: span 5;
}
.w-6 {
  grid-column: span 6;
}

.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}
.h-5 {
  grid-row: span 5;
}
.h-6 {
  grid-row: span 6;
}

h1{
    color: white;
    padding: 50px 20px;
    text-align: center;
    left: 0;
    font-family: hontana;
    font-weight: 200;
    font-size: 4rem;
    letter-spacing: 2px;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: 2.5s;
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .w-1,
  .w-2,
  .w-3,
  .w-4,
  .w-5,
  .w-6 {
    grid-column: span 1;
  }
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
