@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(129, 127, 127); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(68, 63, 63, 0.89); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(129, 127, 127); /* creates padding around scroll thumb */
}
body {
  height: 120vh;
  width: 100%;
  background: rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  align-items: center;
  height: 80px;
  color: white;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: 0.2s;
}
@keyframes slide_top {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
#lo {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.header h2 {
  cursor: pointer;
}
.links li {
  display: inline-block;
}
.links li a {
  padding: 0 50px;
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
}
.links li a:hover {
  color: white;
}
.links li a:active {
  color: #c4001b;
}
.icon li {
  display: inline-block;
}
.icon li a {
  margin: 0 25px;
  height: 29px;
  width: 29px;
  filter: invert(1);
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px 300px;
  grid-gap: 20px;
  padding: 0 0px 0 0;
  margin-left: 140px;
}
.container img {
  height: 525px;
  width: 350px;
  transition: 0.2s;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 1.2s;
  opacity: 0;
  border-radius: 10px;
}
.container img {
  transform: scale(1.2);
}

@keyframes slide_right {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container h2 {
  position: relative;
  color: white;
  top: 0px;
  letter-spacing: 5px;
  font-size: 3rem;
  font-weight: 100;
  font-family: anything;
  padding: 50px 0 20px 50px;
  opacity: 0;
  animation: slide_bottom 0.5s linear forwards;
  animation-delay: 1.5s;
}
@keyframes slide_bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 564px) {
  .icon {
    position: absolute;
    bottom: 999px;
  }
  .tittle h1 {
    top: 50%;
    left: 50px;
    font-size: 3rem;
    letter-spacing: 3.5px;
  }
  .tittle h4 {
    top: 60%;
    left: 50px;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 10px;
  }
  .links li a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .links li a {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 2560px) {
  .header {
    font-size: 3.4rem;
  }
  .links li a {
    font-size: 3.3rem;

    padding: 20px 30px;
  }
  .tittle h1 {
    font-size: 7rem;
    letter-spacing: 11px;
  }
  .tittle h4 {
    font-size: 3rem;
    letter-spacing: 15px;
  }
  .main_footer h4 {
    font-size: 2.5rem;
  }
  .icon img {
    height: 34px;
    width: 34px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    font-size: 2.4rem;
  }
  .links li a {
    font-size: 2.3rem;
    padding: 20px 30px;
  }
  .tittle h1 {
    font-size: 6rem;
    letter-spacing: 11px;
  }
  .tittle h4 {
    font-size: 3rem;
    letter-spacing: 15px;
  }
  .main_footer h4 {
    font-size: 1.5rem;
  }
  .icon img {
    height: 34px;
    width: 34px;
  }
}
@media screen and (max-width: 425px) {
  .tittle h1 {
    font-size: 4.3rem;
    left: 42px;
    top: 55%;
  }
  body {
    width: 100%;
  }
  .tittle h4 {
    font-size: 1.3rem;
  }
  .container {
    /* display: grid; */
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 100px 300px;
    grid-gap: 20px;
    padding: 0 0px 0 0;
    margin-left: 20px;
    display: inline-column;
  }
}
